* text=auto

*.go text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.mod text eol=lf
*.sum text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.gitkeep text eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf
